<div class="entry">
  <div id="q-<%= question.id %>"class="question">
    <p class="author"><%= question.user.fullname %> asks:</p>
    <h2><span class="link"><a href="/question/<%= question.id %>"><%= question.title %></a></span></h2>
    <p class="question-body"><%= question.body %></p>
    <% if user_id %>
    <button class="add-answer">Answer</button>
    <div class="new-answer">
    <form action="/answer/<%= question.id %>" data-question-id="<%= question.id%>" method="post">
      <textarea name="body"></textarea>
      <input type="submit" value="Submit Answer">
    </form>
    </div>
    <% end %>
  </div>
    <div class="answers">
    <% if question.answers.empty? %>
      <p> No answers yet!</p>
    <% else %>
      <% for answer in question.answers %>
        <%= erb :_displayanswer, locals: {:answer => answer} %>
      <% end %>
    <% end %>
    </div>
</div>
